body {
  margin: 0 auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 200%;
  color: gray;
}

h2 {
  margin: 10px;
  font-size: 100%;
  color: black;
}

button {
  background-color: whitesmoke;
  border-style: solid;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}

ol {
  margin: 30px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

input[type=text] {
  box-sizing: border-box;
  width: 500px;
  max-width: 90%;
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
  font-size: 150%;
  text-align: center;
}

input[type=text]:focus {
  outline: none;
}

input[type=text]:focus::placeholder {
  color: transparent;
}

div.wrapper {
  padding: 15vh 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.page-content {
  position: relative;
  margin: 20px auto;
}

.Link {
  position: relative;
  margin: 0 auto;
  color: black;
  text-decoration: none;
  font-size: 400%;
  font-weight: 700;
}

.Link:hover {
  color: darkblue;
  text-decoration: underline;
}

div.select-search {
  position: relative;
  margin: 10vh auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

div.select-search > button {
  width: 100%;
  font-size: 150%;
  font-weight: 600;
  padding: 5% 10px;
  margin: 0 5px;
  border-radius: 1px;
}

button.search-submit {
  margin: 10px;
  border: 2px solid black;
  padding: 13px;
  border-radius: 50%;
}

div.population-info {
  margin: 30px auto;
  width: 400px;
  max-width: 90%;
  border: 2px solid black;
}

div.population-info > p {
  margin: 10px;
  font-size: 300%;
}

button.city-item {
  overflow: hidden;
  width: 500px;
  max-width: 90%;
  margin: 1px;
  padding: 30px;
  font-size: 130%;
  font-weight: 600;
  border-color: black;
}

span.status {
  display: inline-block;
  padding: 2px 4px;
  margin: 30px;
  font-size: 130%;
  font-weight: 600;
  color: white;
  background-color: lightsteelblue;
  border-radius: 3px;
}

span.error {
  background-color: indianred;
}

h1.error {
  color: indianred;
}